<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TrinityCore_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TrinityCore_Manager.Properties.Settings>
            <setting name="DBHost" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBAuthName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Entropy" serializeAs="String">
                <value />
            </setting>
            <setting name="DBCharName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBWorldName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RAUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RAPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RAHost" serializeAs="String">
                <value />
            </setting>
            <setting name="RAPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RAAutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrunkLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="TCMTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupScheduleAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupScheduleChar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupScheduleWorld" serializeAs="String">
                <value>False</value>
            </setting>
        </TrinityCore_Manager.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>